section.shine
section.story
  background-color: $fem-emphasis
section.started
section.approach
  background-color: 
section.cookie
section.resume
  background-color:
section.contact



$fem-bg-light-grey

.fix-spacing
  +break($breaker)
    margin-top: -20px
h1.about
  padding-top: 20px
  color: $fem-emphasis
  font-family: $robo
  font-weight: $bold
  font-size: 2.25em
  line-height: 1    
  +break($breaker)
    padding-top: 80px
    line-height: 1.2
    font-size: 1.8em
h2.about-title
  margin-bottom: 10px
h3.about-quote
  margin-bottom: 10px
p.about-quote-name
  margin-bottom: 20px
img.about-img
  height: 250px
  +break($breaker)
    margin-bottom: 20px
h4.about-description
  margin-bottom: 20px
  color: $fem-emphasis
  +break($breaker)
    margin-bottom: 20px
  font-weight: $bold
  font-size: 1.5em
  line-height: 1    
.about-cta-button
  margin-top: -20px
p.formula
  font-weight: $bold
