@import 'style-baselines'
@import 'nav'
@import 'header'
@import 'section'
@import 'index-page-partials'
@import 'services'
@import 'about'
@import 'portfolio'
$wrap: 850px
// LET THERE BE JUSTICE
$reset-font:          $source, sans-serif
$reset-font-size:     62.5%
$reset-font-weight:   300
$reset-line-height:   1.625
$reset-margin:        0 // 2.4rem golden ratio for descendants 
$reset-padding:       0 // 4.8rem golden ratio for descendants
$reset-body-bg:       #fff
html
  font-size: $reset-font-size
  // +break(767px, 1px)
  //   font-size: 90%
  // +break(1099px, 768px)
  //   font-size: 92.5%
  // +break(1599px, 1100px)
  //   font-size: 95%
  // +break(10000px, 1600px)
  //   font-size: 125%
body
  font-size: 16px
  font-family: $reset-font
  line-height: $reset-line-height
  margin: $reset-margin
  padding: $reset-padding
  background-color: $reset-body-bg  
// LET THERE BE LIGHT
.wrapper
  max-width: $wrap
  width: 90%
h1
  font-family: $hand
  font-size: 2em
  color: $fem-title-grey
  +break($breaker)
    line-height: 1
h2, h3
  font-family: $robo
  font-weight: $bold
  font-size: 2.25em
  line-height: 1
  color: $fem-title-grey
  +break($breaker)
    line-height: 1.2
    font-size: 1.8em
h3
  font-size: 1.95em
  +break($breaker)
    font-size: 1.55em
a:link, a:visited, .bold
  font-weight: $reset-font-weight
.bold
  color: $fem-emphasis
p
  color: $fem-txt-grey
  font-size: 1.375em
  font-weight: $reset-font-weight
.center-on-mobile
  +break($breaker)
    width: 100%
    text-align: center
.center
  width: 100%
  text-align: center
// components 
.card-download-playbook
  text-align: center
  +break($breaker)
    margin-top: 20px
.contact__cta
  display: block
  width: 150px
  text-align: center
  font-size: 1em
  border: 1px solid $white
  padding: 10px
  border-radius: 3px 
  margin-top: 30px
  margin-bottom: 5px
  +break($breaker)
    margin: 0 auto
    margin-top: 30px
.no-block
  display: inline-block
.cta-pink
  border: 1px solid $fem-emphasis
  color: $fem-emphasis
