.blues
  background: url("../../img/photos/man-sunburst.jpg") no-repeat fixed -2000px -2000px 
  background-color: lighten($blues, 34)
.push-down-compensation
  margin-top: 250px
  +break(500px)
    margin-top: 220px
// .blues-grp 

// man-sunburst.jpg

.blues__title
  font-family: $neue
  font-weight: $bold
  font-size: 5em
  text-transform: uppercase
  line-height: 1
  +break(768px)
    line-height: 1.2
    font-size: 1.8em
// .blues__txt
