.blues
  background: linear-gradient( lighten($blues, 34, .1), lighten($blues, 34) ), url("../../img/photos/man-sunburst.jpg") no-repeat fixed -2000px -2000px 
.push-down-compensation
  margin-top: 250px
  +break(500px)
    margin-top: 220px
// .blues-grp 
.blues__title
  font-family: $neue
  font-weight: 100
  font-size: 1.8em
  text-transform: uppercase
  line-height: .8
  margin-bottom: 20px
  +break(768px)
    line-height: 1.2
    font-size: 1.8em
span.blues__title--blues
  font-size: 4em
  font-weight: $bold
  margin-left: -5px
  +break(768px)
    line-height: .8
    font-size: 1.8em
// .blues__txt
.blues__txt-hero

.blues__txt-one
