.downloader
  background-color: lighten($fem-emphasis,30)
  img
    border-radius: 50%
.downloader-txt--link
  margin-top: 65px
  +break($breaker)
    margin-top: 0
  color: $white
.downloader-txt
  color: $white
.downloader-get-in-touch__txt
  margin-bottom: 20px
  +break(768px)
    margin-bottom: 5px
.padder
  margin: 15px 0
