.messaging-grp
  text-align: center
.icon
  padding: 30px
  img
    border-radius: 40px
    border: 2px solid $fem-grey
.fixed-width-430
  width: 430px
  margin: 0 auto
  text-align: center
  +break(500px)
    width: auto
h2.messaging__title
  font-size: 1.8em
  text-transform: uppercase 
  font-weight: 100
h3.messaging-grp
  font-size: 1em
.messaging-txt
  color: $fem-title-grey
