nav
  text-align: right
.center-on-mobile
  +break($breaker)
    width: 100%
    text-align: center
ul
  display: inline-block
  padding-top: 10px
  +break($breaker, 550px)
    margin-top: -10px
    padding-top: 0px
  +break(549px)
    margin-top: -10px
    padding-top: 0px
  li
    float: left
    text-align: center
    padding-right: 15px
    &last-of-type
      padding-right: 0
  a
    font-size: inherit
    +break($breaker)
      font-size: .8em
  a:link, a:visited
    color: $fem-nav-text-grey
