nav
  text-align: right
ul
  display: inline-block
  padding-top: 10px
  +break($breaker, 550px)
    margin-top: -10px
    padding-top: 0px
  +break(549px)
    margin-top: -10px
    padding-top: 0px
  li
    float: left
    text-align: center
    padding-right: 15px
    &last-of-type
      padding-right: 0
  a:link, a:visited
    font-family: $metro
    color: $fem-nav-text-grey
    text-transform: uppercase
    font-weight: 400
    font-size: .8em
    +break($breaker)
      font-size: .7em
