h3.overwhelmed__title
  font-family: $neue
  font-weight: 100
  font-size: 1.8em
  text-transform: uppercase
  line-height: .8
  margin-bottom: 20px
  +break(768px)
    line-height: 1.2
    font-size: 1.8em
    margin-bottom: 5px
span.overwhelmed__title--need
  font-size: 4em
  font-weight: $bold
  margin-left: -5px
  +break(768px)
    line-height: .8
    font-size: 1.8em
