.playbook-grp
  text-align: center
.playbook__txt
  color: $fem-title-grey
.icon
  padding: 30px
  +break($breaker)
    margin-bottom: 10px
  img
    border-radius: 40px
    border: 10px solid $fem-grey
h3.playbook-grp
  margin-bottom: 20px
h2.playbook__title
  letter-spacing: 1.2px
  +break($breaker)
    line-height: 1.5
span.playbook__title--bold
  color: $fem-emphasis
