.playbook-grp
  text-align: center
.icon
  padding: 30px
  img
    border-radius: 40px
    border: 10px solid $fem-grey
h3.playbook-grp
  font-size: 1em
h2.playbook__title
  font-size: 1.8em
  text-transform: uppercase
  font-weight: 100
