.solution
  background-color: $fem-bg-dark-grey
  p, a:link, a:visited
    color: $white
  img
    border-radius: 50%
.solution__grp
  color: $white
h3.solution__title
  margin-bottom: 20px
  letter-spacing: 1.5px
  text-transform: uppercase 
  color: $white
  +break($breaker)
    line-height: 1.6
p.solution__txt--help
  font-family: $robo
  letter-spacing: 1.1px
  font-weight: $bold
  margin-top: 20px
  +break(768px)
    margin-bottom: 20px
p.solution__txt--cta
  margin-top: 10px
.solution__txt--link
  color: $white
.solution__push-up
  display: block
  margin-top: 20px
.solution__push-right
  display: block
  margin-right: 20px
